.sender-area {
    background-color: #343541;
    width: 100%;
    position: relative;
    height: 80px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    left: 112px;
}

.input-place {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #40414F;
    /* padding: 0% 5%; */
    border-radius: 7px;
    height: 48px;
    width: 350px;
    padding-left: 3%;
    gap: 10px;
    border: 1px solid #2E2F3A;
}

.input-place input {
    height: 4vh;
    border-radius: 6px;
    margin-left: 2%;
    width: 81%;
    background-color: transparent;
    color: white;
    border: none;
}

.send-input::placeholder {
    color: #828E9E;
    font-size: 1.1em;
}

/* .send:hover{
    background-color: #343541;
    border-radius: 8px;
    transform: scale(1.1);
} */
.input-place input:focus {
    outline: none;
}

.send {
    width: 30px;
    height: 30px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.feedBackSenderFinalSection{
    scale: 0;
    opacity: 0;
}




.feedBackMan img {
    width: 45%;
    border-radius: 13px;
    cursor: pointer;
}

.feedBackMan {
    color: white;
    text-align: center;
    position: fixed;
    width: 11%;
    bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    /* transform: scale(0); */
    visibility: hidden;
}

.AnyFeedbackAsk {
    display: flex;
    opacity: 0;
    transform: translateY(5px);
    background-color: #0f0f0f;
    width: 100%;
    border-radius: 7px;
    height: 5vh;
    margin-bottom: 4%;
    padding: 1%;
    /* text-align: center; */
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1400px){
    .send {
        top: 10px;
    }
    .sender-area{
        /* left: 120px;  */
        top: 10px;
    }
}

@media only screen and (max-width: 800px){
    .sender-area{
        left: 10px;
        width: 81%;
    }
    .feedBackMan{
        width: 100%;
        align-items: flex-start;
    }   
    .feedBackSectionImg{
        width: 90%;
        text-align: left;

    }
    .feedBackSectionImg img{
        width: 10%;
        
    }

}

@media only screen and (max-width: 600px){
    .sender-area{
        left: 100px;
        width: 81%; 
    }
    .feedBackMan{
        position: absolute;
        bottom: 90vh;
    }
}