.onlyNameWithPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
    /* align-items: center; */
    width: 100%;
    flex-wrap: wrap-reverse;
}

.photoSide img {
    height: 338px;
}

.wholeLandPage {
    height: 90vh;
    display: flex;
    /* align-items: center; */
    width: 100%;
}

.nameSide {
    font-size: 5em;
    font-weight: bold;
}

.nameWithPhoto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LandPageBtns {
    display: flex;
    gap: 29px;
    width: 72%;
    margin: 0 auto;
}

.landPageBtn {
    width: 145px;
    height: 6vh;
    border-radius: 8px;
    border: none;
    overflow: hidden;
}

.navBarPortionLand {
    display: flex;
    gap: 50px;
}

.navbarPortionLandDiv {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    padding-top: 5%;
}

.landPageBtn {
    font-weight: bold;
    background-color: #60f6ad;
    cursor: pointer;
}

.downloadLandPageBtn {
    background-color: transparent;
    border: 2px solid #60f6ad;
    transition: all ease-out 0.2s;
    /* color: #60f6ad;; */
}

/* .downloadLandPageBtn:hover{
    background-color: #60f6ad;
} */

.callNavSectionDiv,
.shareNavSectionDiv {
    cursor: pointer;
}

.callNavSectionDiv a {
    color: #232323;
}

.btnsMedia button {
    cursor: pointer;
    width: 150px;
    height: 5vh;
    background-color: #121212;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.shareLinkBtn {
    display: flex;
    padding-top: 5%;
    justify-content: center;
    gap: 120px;
}

.paraPage2Div {
    padding-top: 5%;
    display: grid;
    gap: 50px;
    color: white;
    grid-template-columns: 45% 45%;
}

.paraPage2LeftPara {
    /* width: 30%; */
    align-items: right;
    display: flex;
    font-weight: bold;
    font-size: 3.8em;
    line-height: 80%;
    justify-content: right;
}

.paraPage2RightPara {
    opacity: 0;
    transform: translateX(18px);
    display: flex;
    font-weight: bold;
    align-items: center;
}

.homePage2 {
    background-color: #232323;
}

.virtualShowprj {
    display: flex;
    color: white;
    gap: 166px;
    justify-content: center;
}

.virtualShowPrjHead {
    text-align: center;
    color: white;
}

.virtualShowPrjHead h2 {
    padding-bottom: 5%;
    padding-top: 7%;
}

.showMoreCards {
    padding-bottom: 1%;
    margin: auto;
    text-align: right;
    width: 73%;
    padding-top: 2%;
}

.showMoreCardsInside {
    position: relative;
    z-index: 0;
    text-decoration: none;
    color: white;
}

.resumeImg {
    width: 55%;
    border-radius: 10px;
    border-top: 2px solid white;
}

.portfolioSideResumeImg {
    background-color: #232323;
    /* display: flex; */
    padding: 3%;
    text-align: center;
}

#selfPhoto {
    opacity: 0;
}

.hiBg {
    position: absolute;
    background-color: black;
    z-index: 1;
    /* width: 544px; */
    height: 102px;
}

.namesideBG {

    position: absolute;
    background-color: #60f6ad;
    z-index: 1;
    /* width: 544px; */
    height: 112px;

}

.hiSideLandPage {
    /* color: white; */
    z-index: 2;
    position: relative;
}

.nameSideDiv {

    color: black;
    z-index: 2;
    position: relative;

}

.myNameIs {
    color: #60f6ad;
    ;
    /* color: white; */
}




.downloadLandPageBtn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    color: #333;
    transition: all 0.5s ease-in-out;

    width: 145px;
    height: 6vh;
    border-radius: 8px;
    border: 2px solid 60f6ad;
    overflow: hidden;
}


.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    background-color: #60f6ad;
    border-radius: 30px;
    height: 100px;
    width: 10px;
    z-index: -1;
}


.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

.mediaBtn {
    transform: scale(0);
}

.paraPage2LeftPara {
    opacity: 0;
    transform: translateX(-18px);
}



@keyframes showMore {

    0% {
        transform: scale(0.5) translateY(-73px);
    }

    100% {
        transform: scale(1) translateY(-35px) translateX(-15px);
        opacity: 0;
    }

}

.showMoreCardsInside::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    /* visibility: visible; */
    /* animation: showMore 0.2s -1 ; */
    animation-name: showMore;
    animation-duration: 1s;
    animation-delay: 1;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    background-color: #444444;
    border-radius: 2px solid #444444;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    /* transform: scale(0.5) translateY(-73px); */
    z-index: -1;
}


.feedBackMan img {
    width: 45%;
    border-radius: 13px;
    cursor: pointer;
}

.feedBackMan {
    color: white;
    text-align: center;
    position: fixed;
    width: 11%;
    right: 3%;
    bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    /* transform: scale(0); */
    visibility: hidden;
}

.AnyFeedbackAsk {
    display: flex;
    opacity: 0;
    transform: translateY(5px);
    background-color: #0f0f0f;
    width: 100%;
    border-radius: 7px;
    height: 5vh;
    margin-bottom: 4%;
    padding: 1%;
    /* text-align: center; */
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
}

.fmanImg {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media only screen and (max-width: 1328px) {

    .onlyNameWithPhoto {
        column-gap: 188px;
    }
}

@media only screen and (max-width: 960px) {

    .onlyNameWithPhoto {
        gap: 50px;
        flex-direction: column-reverse;
    }

    .photoSide img {
        height: 200px;
    }

    .allContain {
        font-size: 0.8em;
    }

    .hiBg,
    .namesideBG {
        height: 86px;
    }

    .shareLinkBtn {

        gap: 48px;
    }

    .btnsMedia button {
        font-size: 0.7em;
        width: 95px;

    }

    .virtualShowprj {
        column-gap: 39px;
        font-size: 0.8em;
    }

    .cardProjectVirtual {
        width: 28% !important;

    }

    .LandPageBtns {
        justify-content: center;
        margin: 5% auto;
    }
}


@media only screen and (max-width: 730px) {

    .shareLinkBtn {
        flex-wrap: wrap;
    }

    .virtualShowprj {
        flex-wrap: wrap;
        column-gap: 64px;
        gap: 56px;

    }

    .cardProjectVirtual {
        width: 38% !important;
    }

    .paraPage2Div {
        margin: auto;
        width: 66%;
        display: flex;
        flex-wrap: wrap;


    }
    .resumeImg {
        width: 97%;
        
    }
}

@media only screen and (max-width: 555px) {

    .navbarPortionLandDiv {
        grid-template-columns: 75% 25%;
    }

}