.chatSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80svh;
    border-radius: 10px;
    background-color: #18181A;
    color: white;
    overflow: hidden;
    padding: 2%;
    

}
.lowerSendArea{
    width: 100%;
    display: flex;
    height: 20%;
    background-color: #09090B;
    padding-top: 2%;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.sendInput{
    width: 80%;
    background-color: #09090B;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.sendInput input{
    height: 8vh;
    width: 100%;
    background-color: #09090B;
    border: 1px solid #444;
    color: white;
    padding: 2%;
}

.sendInput input:focus{
    outline: none;
}
.sendButton{
    width: 20%;
    background-color: #09090B;
    display: flex;
    align-items: center;
}
.sendButton button{
    height: 8vh;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 8px;
}
.upperChatArea{
    height: 80%;
}

.userMsg{
    color: white;
}
.aiMsg{
    color: rgb(237, 237, 237);
}
.buttonChatIconMyPhoto{
    width: 20px;
    height: 20px ;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-image: url("https://ashurathor.vercel.app/static/media/portfolioimage.29a70b0a0a63446c5954.png");
}
.upperChatList{
    overflow-y: auto;
    padding: 5%;
    height: 100%;
}
.lightningShadowChatinput{
    position: absolute;
    content: "";
    height: 100%;
    width: 10px;
    background-color:white ;
    z-index: 35;
    width: 40px;
    height: 150%;
    left: -10%;
    opacity: 0.2;
    rotate: 30deg;
    top: -30%;
}
.aiLogoInAsk{
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/google-gemini-icon.png");
    width: 30px !important;
    height: 30px !important;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 15deg;
}

.closeChatBtn{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.chatBoxOutDiv{
    position: fixed;
    bottom: 10px;
    width: 40%;
    bottom: 1%;
    right: 1%;
    z-index: 5;
}

@media only screen and (max-width: 600px){
    .chatBoxOutDiv{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .chatSection{
        width: 95%;
    }

}